* {
  font-family: "Roboto", sans-serif; }

h1 {
  font-family: "Allison", sans-serif;
  font-weight: 900;
  font-size: 50px; }

footer {
  font-size: medium; }

body {
  background-color: #c0adad;
  background-image: linear-gradient(19deg, #c0adad 0%, #ffffff 98%, #ffffff 99%, #ddd6f3 100%); }

nav {
  background: #5e5a98;
  background: linear-gradient(90deg, #5e5a98 0%, #6666a7 20%, #4cbbd2 57%); }

footer {
  background-color: slategray; }

a {
  color: black; }

a {
  text-decoration: none; }

h1 {
  padding-right: 45rem; }
