* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}    
h1{
    padding-right: 45rem;
}
footer {
    padding: 20px;
    margin-top: 30px;
}
main{
    margin-top: 150px;
}
header{
    position: fixed;
    z-index: 10;
}
.row{
    margin-top: 6rem;
}